<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the 
  <a href="http://railstutorial.org/contact">contact page</a>.<br><br>
  
  Contact the tutorial student at <a href="mailto:aclogreco@gmail.com">aclogreco@gmail.com</a>.
</p>
